.testimonial-card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.contact-info, .contact-form {
    border-radius: 10px;
}
#about{
    background: black;
}
#services{
    background: black;
}
::placeholder{
    color: rgb(147, 231, 11);
}
.form-control{
    border-color: rgb(4, 4, 94);
}
