.testimonial-card {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.contact-info, .contact-form {
    border-radius: 10px;
}
#about{
    background: black;
}
#services{
    background: black;
}
::placeholder{
    color: rgb(147, 231, 11);
}
.form-control{
    border-color: rgb(4, 4, 94);
}
 /* Change arrow color when collapsed (default state) */
 .accordion-button::after {
    filter: invert(1); /* Makes the arrow white */
  }

  /* Change arrow color when expanded */
  .accordion-button:not(.collapsed)::after {
    filter: invert(1); /* Ensures the arrow stays white */
  }
  .tag:hover{
    color: rgb(20, 241, 49);
  }
